.skills__container {
    max-width: 992px;
    /* grid-template-columns: max-content; */
    column-gap: 3rem;
    justify-content: center;
}

.skill__content {
    background-color: var(--body-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1.75rem;
    padding: 2rem 4rem ;
    /* backdrop-filter: blur 2px; */
}

.skills__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semibold);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}


.skills__group {
    display: grid;
    align-items: flex-start;
    grid-gap: 1rem;
}

.skills__data {
    display: flex;
    column-gap: .5rem;
}

.skills .bx-badge-check {
    font-size: 1rem;
    color: var(--text-color-3);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level {
    font-size: var(--smaller-font-size);

}

/* Tool Style */

.tool__content {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.tool__box {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 30px; */
}

.tool__group {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* column-gap: 2rem; */
  margin: 2rem;
}

.tools__data {
    width: calc(20% );
    margin-bottom: 20px;
    text-align: center;
    /* border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .5rem; */
    column-gap: 2rem ;
}

.tool__img {
    width: 50%;
    /* border-radius: 5px; */
    background-color: rgba(163, 163, 163, 0.1);
    border: 1px solid rgba(163, 163, 163, 0.1);
    backdrop-filter: blur(3px);
    border-radius: .5rem;
    
}

.tool__name {
  display: block;
  margin-top: 1rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-0-5);
}


/* ========BREAKPOINTS======== */
/* For Large Devices */
@media screen and (max-width: 992px){
    .skills__container {
        max-width: 992px;
        column-gap: 2rem;
        justify-content: center;
    }
}

/* For Medium Devices */
@media screen and (max-width: 768px){
    .skills__container {
        grid-template-columns: 1fr;
    }

    .tool__content {
        padding: 1.5rem;
    }

    .tool__box {
        justify-content: center;
    }
}

@media screen and (max-width: 576px){
    .skills__container {
        max-width: 576px;
        column-gap: 2rem;
        justify-content: center;
    }

    .tool__content {
        padding: 1.5rem 1.5rem;
    }

    .tool__box {
        justify-content: center;
    }

    .tool__name {
        font-size: var(--smaller-font-size);
    }
}

/* For Small Devices */
@media screen and (max-width: 350px){
    .tool__box {
        column-gap: 2rem;
    }

    .tool__name {
        font-size: var(--smaller-font-size);
    }
}
